<div class="card">
  <div class="card-block">
    <div class="row auth-form-group">
      <div class="col-sm-12">
        <form id='sign-in' class="form-signin auth-forms">
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
          <div class="form-group">
            <input name="credentials[email]" type="text" class="input" placeholder="Email address">
          </div>
          <div class="form-group">
            <input name="credentials[password]" type="password" class="input" placeholder="Password" required>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
      </div>
    </div>

    <br>

    <div class="row auth-form-group">
      <div class="col-sm-12">
        <form id='sign-up' class="form-signin auth-forms">
          <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
          <div class="form-group">
            <input name="credentials[email]" type="text" class="signup input" placeholder="Email address">
          </div>
          <div class="form-group">
            <input name="credentials[password]" type="password" class="signup input" placeholder="Password" required>
          </div>
          <div class="form-group">
            <input name="credentials[password_confirmation]" type="password" class="signup input" placeholder="Password_confirmation" required>
          </div>
          <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>
