$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.user-index {
  padding: 10px;
  position: absolute;
  right: 0;
}

.create-content {
  margin-right: 20px;
  padding: 10px;
  position: absolute;
  right: 0;
}

.user-alerts {
  margin-right: 20px;
  padding: 10px;
  position: absolute;
  right: 0;
}
